/* Estilos básicos para la página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.header-content {
    display: flex;
    background: linear-gradient(to right, #3498db, #f1c40f);
    align-items: start;
    padding: 20px;
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 10px;
}

  

header h1 {
    margin-bottom: 10px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #2980b9;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1c638e;
    border-radius: 5px;
}


/* Estilos para la sección de productos */
.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    cursor: pointer;
}

.producto {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s;

}
.producto a{
    text-decoration: none;
}

.producto:hover {
    transform: translateY(-5px);
    background-color: #b5e9fc;
    text-decoration: underline;
}

.product-image {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.link {
    color: black;
}

.link link v {
    text-decoration: none;
}

/* Estilos para las secciones "Sobre Nosotros" y "Contacto" */
#nosotros, #contacto {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #2980b9;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #2980b9;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 15px;
}
footer a {
    color: #3498db;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

.products-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cart-icon {
    font-size: 44px;
    cursor: pointer;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: relative;
    top: -10px;
    left: -5px;
}

.incomplet {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: center;
}

.incomplet img {
    max-width: 150px;
    height: auto;
}
